
<%inherit file="base.html"/>

<script language="javascript" type="text/javascript">
  function add_quote() {
    $("button#submitting").html("Adding quote ...");
    $("button#submitting").attr("disabled", "disabled");
    var quote = $("textarea#quote").val();
    var notes = $("input#notes").val();
    var tags = $("input#tags").val();
    
    $.post("${url(controller='post', action='add')}", 
      {"quote": quote, "notes": notes, "tags": tags},
      function(response) {
        var success_msg = "Your quote was submitted. You can now \
        return to the <a href=\"${url(controller='show', action='index')}\">\
	home page</a> or continue adding quotes below.";
        $("div#success_msg").html(success_msg);
        $("button#submitting").html("Add Quote");
        $("button#submitting").attr("disabled", false);
      }
    );
  }
</script>

<div id="success_msg"></div>
<p>Content:<br/><textarea rows=10 cols=50 id="quote"></textarea></p>
<p>Notes:<br/><input type="text" id="notes"/></p>
<p>Tags:<br/><input type="text" id="tags"/></p>
<p><button id="submitting" onclick="add_quote()">Add Quote</button></p>

<%def name="title()">Add New Quote</%def>
