
<%inherit file="base.html"/>

<script language="javascript" type="text/javascript">
  $(document).ready(function() {
    $("button#add").click(function() {
      if($("textarea#quote").val() == "")
        alert("You must enter a quote.");
      else {
        $(this).html("Adding quote ...").attr("disabled", "disabled");
        $.ajax({
          "url": "${url(controller='post', action='add')}",
          "data": {"quote": $("textarea#quote").val(), 
                   "notes": $("input#notes").val(),
                   "tags": $("input#tags").val()},
          "type": "POST",
          "success": function() {
            $("button#add").html("Add Quote").attr("disabled", "");
            $("div#status")
              .html("Done! You may continue adding quotes below.")
              .hide().fadeIn(500);
          }
        });
      }
    });
  });
</script>

<div id="status"></div>
<p>Content:<br/>${h.textarea('quote', rows=10, cols=50)}</p>
<p>Notes:<br/>${h.text('notes')}</p>
<p>Tags:<br/>${h.text('tags')}</p>
<p><button id="add">Add Quote</button></p>

<%def name="title()">Add New Quote</%def>
