
<!DOCTYPE HTML>
<html>
  <head>
    <script language="javascript" type="text/javascript" src="jquery-1.4.2.js">
    </script>
    <title>QuoteHI - ${self.title()}</title>
  </head>

  <body>
    <div class="header">${self.header()}</div>
    <div class="content">${next.body()}</div>
    <div class="footer">${self.footer()}</div>
  </body>
</html>

<%def name="header()">
  <h1>QuoteHI</h1>
  <p>
    <a href="${url(controller='show', action='index')}">Home</a>
    <a href="${url(controller='post', action='add')}">Add</a>
  <hr />
</%def>

<%def name="footer()">
  <hr/>
  <p>Powered by QuoteHI.</p>
</%def>

<%def name="title()">QuoteHI</%def>
