<%inherit file="/base.html"/>

<script language="javascript" type="text/javascript">
  $(document).ready(function() {
  $(".approve").click(function() {
      $.ajax({
        "url": $(this).val(),
        "type": "POST",
        "context": $(this),
        "success": function() {
          var id = $(this).val().split("/").pop();
          if($(this).attr("id") == "approve")
            var color = "#00ff00";
          else
            var color = "#ff0000";
          $("div#" + id).css("background-color", color);
          $("div#" + id).fadeOut(500);
        }, // anonymous function
      });  // $.ajax
    });    // click event
  });      // ready event
</script>

% if c.quotes.count() == 0:
  <p>Nothing to see here, please move along.</p>
% else:
%   for quote in c.quotes:
    <div id="${quote['_id']}" style="background-color:#EEEEFF">
      <pre>${quote['quote']}</pre>
%    if quote['tags']:
       <p><strong>Tags:</strong>
%      for tag in quote['tags']:
         ${tag} 
%      endfor
       </p>
%    endif
%    if quote['notes']:
          <p><strong>Notes:</strong> ${quote['notes']}</p>
%    endif
     <p><strong>ID:</strong> ${quote['_id']}</p>
%    if session.get('logged_in') is True:
       <button class="approve" id="approve" value="${url(controller='admin',
				   action='approve', id=quote['_id'])}">
	 Approve</button>
       <button class="approve" id="discard" value="${url(controller='admin',
				   action='discard', id=quote['_id'])}">
	 Discard</button>

%    endif
    </div>
%   endfor
% endif

${self.paginate('show', 'queue', c.pages, c.current_page)}

<%def name="title()">Queue</%def>
